// Font

$text-font: 'Open Sans', sans-serif;
$second-font: 'Roboto', sans-serif;

// Colors
$orange: #ffc001;
$orange-beta: #fbad03;
$yellow: #ffdd00;
$dark: #333333;
$dark-beta: #1f1b1c;
$gray: #cccccc;
$red: #ef6f6c;
$green: #28c190;
$light-gray: #fafafa;
$dark-blue: #1b2739;
