@media screen and (max-width: 1199.98px) {
  .most-popular__background-text {
    top: -20px !important;
    font-size: 110px !important;
  }

  .article-item {
    margin: 25px auto 0;
  }
}

@media screen and (max-width: 991.98px) {
  .topbar {
    display: none !important;
  }

  .nav-list {
    display: none !important;
  }

  .nav-list_wrapper {
    display: none;
  }

  .burger-menu {
    position: absolute;
    display: block !important;
  }

  .search-form__submenu {
    padding: 26px 0 !important;
    max-height: 100% !important;
  }

  .search-form__submenu--body {
    padding: 0 20px;
  }

  .search-form__input-field {
    padding-bottom: 15px;
    max-width: 100% !important;
  }

  .search-form__input {
    max-width: 100% !important;
  }

  .search-form__submenu--body {
    flex-direction: column;
  }

  .most-popular__background-text {
    display: none;
  }

  .ticket-slider {
    &__next-button {
      right: -5px !important;
    }

    &__prev-button {
      left: -5px !important;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .most-popular__background-text {
    display: none;
  }

  .honeymoon-offer-slider {
    height: 660px !important;

    &__slide {
      width: 357px !important;
      height: 620px !important;

      &--body {
        width: auto !important;
        flex-direction: column;
        justify-content: space-between;
        height: 100% !important;
      }
    }

    &__image {
      &--tools {
        bottom: 3px !important;
      }
    }

    &__info {
      height: 100%;
      max-width: 357px !important;

      &--body {
        margin: 20px 20px 0 !important;
      }
    }
  }

  .holiday-offer {
    height: auto !important;

    &__info {
      padding: 30px 0;
    }
  }

  .deal {
    &__time {
      font-size: 28px !important;
    }

    &__description {
      font-size: 14px !important;
    }
  }

  .ticket-slider {
    height: auto !important;

    &__slide {
      flex-direction: column;
      max-width: 350px !important;
      height: 100% !important;
    }

    &__info {
      padding-bottom: 25px;
      max-width: 245px !important;
    }

    &__image {
      img {
        height: 288px !important;
        width: 100% !important;
      }
    }
  }

  .email-form-field {
    &__item {
      margin: 0 8px;
    }

    &__input {
      height: 40px !important;
    }

    &__button {
      height: 40px !important;
    }
  }

  .email-form-field__video {
    iframe {
      width: 95% !important;
    }
  }

  .footer-info {
    text-align: center;
    padding-bottom: 105px;

    &__media {
      display: flex;
      justify-content: center;
    }
  }

  .footer-nav {
    max-width: 200px;
    margin: 0 auto;
  }
}
