.header {
  color: #fff;
  height: 100vh;
  background: url('/src/assets/images/hero.jpg') center / cover no-repeat;
}

.topbar {
  font-size: 12px;
  height: 50px;
  border-bottom: 1px solid rgba($yellow, 0.3);
  display: flex;
  align-items: center;

  &__body {
    justify-content: space-between;
  }

  &__info {
    display: flex;
  }

  &__address {
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 32px !important;
    max-width: 300px !important;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      height: 12px;
      width: 12px;
      background: url('/src/assets/icons/location.svg') center / contain
        no-repeat;
    }
  }

  &__auth {
    justify-content: flex-end;
  }
}

.auth {
  display: flex;
  &__link {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

    &:first-child {
      border-right: 1px solid $yellow;
      padding-right: 12px;
    }

    &:last-child {
      padding-left: 12px;
    }
  }
}

.social-list {
  display: flex;
  &__item {
    height: 20px;
    padding-right: 30px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    display: block;
  }
}

.nav {
  height: 94px;
  display: flex;
  align-items: center;

  &__body {
    position: relative;
  }
}

.nav-list {
  padding-top: 14px;
  display: flex;
  justify-content: flex-end;

  &__item {
    padding-right: 50px;
    &:last-child {
      padding-right: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;

    &_active {
      color: $orange;
    }
  }
}

.hero {
  height: calc(100% - 144px);
  display: flex;
  align-items: center;

  &__body {
    max-width: 670px;
  }

  &__number {
    font-size: 20px;
    font-weight: bold;
    color: $orange;
  }

  &__title {
    margin: 45px 0 35px;
  }

  &__info {
    margin-bottom: 50px;
  }
}

.section-header {
  max-width: 660px;
  margin: 0 auto;

  &__title {
    text-align: center;
  }

  &__info {
    text-align: center;
  }
}
