.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 18px;
  letter-spacing: 2px;
  height: 18px;
  width: 80px;
  position: relative;
  padding: 0;

  &-top {
    color: $orange;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    color: $orange;
    padding: 0;
    display: block;
    z-index: 0;
  }
}
