// Abstracts
@import 'abstracts/variables';

// Base
@import 'base/base';
@import 'base/fonts';
@import 'base/typography';
@import 'base/media';

// Layouts
@import 'layout/header';

// Components
@import 'components/button';
@import 'components/star-rating';
@import 'components/input-form';
@import 'components/burger-menu';

// Pages
@import 'pages/home';

// Vendors
@import 'vendors/bootstrap-grid';
@import 'vendors/normalize';
